services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.17
    command:
      - etcd
      - --name=etcd0
      - --advertise-client-urls=http://0.0.0.0:2379
      - --listen-client-urls=http://0.0.0.0:2379
      - --initial-advertise-peer-urls=http://0.0.0.0:2380
      - --listen-peer-urls=http://0.0.0.0:2380
    ports:
      - "2379:2379"
      - "2380:2380"
    volumes:
      - etcd-data:/etcd-data

volumes:
  etcd-data:
